:root {
    --text-color: #262626;
    --link-color: #334991;
    --background-color: #eeeff1;
}
    
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    html{
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Lexend', sans-serif;

        
    }

    a {
        color: var(--link-color);
        text-decoration: none;
    }



